.style13 {
    width: 870px;
    height: 23px;
}

.style39 {
    height: 23px;
}

.style7 {
    height: 48px;
}

.style11 {
    height: 14px;
}

.style12 {
    text-align: center;
    font-family: Dotum;
    font-size: xx-large;
}

.style33 {
    height: 178px;
}

.style35 {
    width: 400px;
    height: 60px;
}

#header {
    text-align: center;
}

.style37 {
    text-align: center;
    color: #800000;
    font-family: Calibri;
    font-size: small;
    border-top: thick double #F7B800;
    border-bottom: thick double #F7B800;
    background-color: #FFFFFF;
    font-weight: bold;
}

.style38 {
    height: 1px;
}

.ctl00_MainContentFull_Menu1_0 {
    background-color: white;
    visibility: hidden;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ctl00_MainContentFull_Menu1_1 {
    color: #666666;
    font-family: Calibri;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.ctl00_MainContentFull_Menu1_2 {
    width: 850px;
    text-decoration: none;
    height: 23px;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    font-family: Calibri;
    color: #666666;
    background-color: White;
}

.ctl00_MainContentFull_Menu1_3 {}

.ctl00_MainContentFull_Menu1_4 {
    padding: 2px 5px 2px 5px;
}

.ctl00_MainContentFull_Menu1_5 {}

.ctl00_MainContentFull_Menu1_6 {
    padding: 2px 5px 2px 5px;
}

.ctl00_MainContentFull_Menu1_7 {
    background-color: #B5C7DE;
}

.ctl00_MainContentFull_Menu1_8 {
    color: White;
}

.ctl00_MainContentFull_Menu1_9 {
    background-color: #F7B800;
}

.ctl00_MainContentFull_Menu1_11 {
    background-color: #507CD1;
}

.ctl00_MainContentFull_Menu1_12 {
    color: White;
}

.ctl00_MainContentFull_Menu1_13 {
    color: White;
    background-color: #F7B800;
    border-color: Black;
    border-style: Dashed;
}

.ctl00_MainContentFull_Menu1_14 {
    color: White;
}

.ctl00_MainContentFull_Menu1_15 {
    color: White;
    background-color: #284E98;
}